<div class="container">
    <p></p>
    <h3>Регистрация</h3>
    <form novalidate ng-submit="createNewUser()">
        <div class="mb-3">
            <label class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" placeholder="Имя пользователя" ng-model="new_user.username">
        </div>
        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="password" class="form-control" placeholder="Пароль" ng-model="new_user.password">
        </div>
        <div class="mb-3">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" placeholder="E-mail" ng-model="new_user.email">
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
