<div class="container">
    <p></p>
    <h3>Добавить продукт</h3>
    <form novalidate ng-submit="createNewProduct()">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Наименование</label>
            <input type="text" class="form-control" placeholder="Наименование" ng-model="new_product.title">
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Стоимость</label>
            <input type="number" class="form-control" placeholder="Стоимость" ng-model="new_product.cost">
        </div>

        <button type="submit" class="btn btn-secondary">Сохранить</button>
    </form>
</div>
